<a href="https://colab.research.google.com/github/alfifau/recommender_system/blob/main/Content_Based_Filtering_Recommender_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Import Library**

In [ ]:
import string, re
import pandas as pd
import nltk
from nltk.corpus import stopwords

nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

## **Load Dataset**

In [ ]:
df = pd.read_csv('data/tmdb_5000_movies.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [ ]:
df.head()

      budget  ... vote_count
0  237000000  ...      11800
1  300000000  ...       4500
2  245000000  ...       4466
3  250000000  ...       9106
4  260000000  ...       2124

[5 rows x 20 columns]

## **Text Preprocessing**

In [ ]:
def clean_text(data):
  # lowercasing
  data = str(data).lower()

  # remove punctuation
  punct = string.punctuation # isinya tanda baca
  translator = str.maketrans(punct, ' '*len(punct)) # 2 variable ini harus memiliki panjang yg sama, jadi dikali len(punct)
  data = data.translate(translator)

  # remove ASCII dan unicode
  data = data.encode('ascii', 'ignore').decode('utf-8')
  data = re.sub(r'[^\x00-\x7f]',r'', data)
  
  # remove newline
  data = data.replace('\n', ' ')

  # remove digit
  pattern = r'[0-9]'
  data = re.sub(pattern, '', data)

  # remove extra space
  data = ' '.join(data.split())
  return data

In [ ]:
def remove_stopwords(data):

  import nltk
  from nltk.corpus import stopwords  
  from nltk.tokenize import word_tokenize
  
  word_tokens = word_tokenize(data)
  data = [word for word in word_tokens if word not in stopwords.words()]
  
  return ' '.join(data)

In [ ]:
def preprocessing(data):
  data = clean_text(data)
  data = remove_stopwords(data)

  return data

In [ ]:
df_overview = df['overview']
df['clean_desc'] = df_overview.apply(lambda x: preprocessing(x))

In [ ]:
df['clean_desc'].head()

0    nd century paraplegic marine dispatched moon p...
1    captain barbossa long believed dead back life ...
2    cryptic message bonds past sends trail uncover...
3    following death district attorney harvey dent ...
4    john carter weary former military captain inex...
Name: clean_desc, dtype: object

In [ ]:
df.set_index('title', inplace=True)
df

                                             budget  ...                                         clean_desc
title                                                ...
Avatar                                    237000000  ...  nd century paraplegic marine dispatched moon p...
Pirates of the Caribbean: At World's End  300000000  ...  captain barbossa long believed dead back life ...
Spectre                                   245000000  ...  cryptic message bonds past sends trail uncover...
The Dark Knight Rises                     250000000  ...  following death district attorney harvey dent ...
John Carter                               260000000  ...  john carter weary former military captain inex...
...                                             ...  ...                                                ...
El Mariachi                                  220000  ...  mariachi wants play guitar carry family tradit...
Newlyweds                                      9000  ...  newlywed couple honeymoon upended arrivals res...
Signed, Sealed, Delivered                         0  ...  signed sealed delivered introduces dedicated q...
Shanghai Calling                                  0  ...  ambitious new york attorney sam sent shanghai ...
My Date with Drew                                 0  ...  ever since second grade first saw extraterrest...

[4803 rows x 20 columns]

## **TF-IDF Vectorization**

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

vectorizer = TfidfVectorizer(min_df=2, max_df=0.95, ngram_range = (1, 3), sublinear_tf = True )
tfidf_desc = vectorizer.fit_transform(df['clean_desc'])
cos_sim = cosine_similarity(tfidf_desc, tfidf_desc)
cos_sim

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.01589624, ..., 0.01903005, 0.        ,
        0.        ],
       [0.        , 0.01589624, 1.        , ..., 0.01354152, 0.        ,
        0.        ],
       ...,
       [0.        , 0.01903005, 0.01354152, ..., 1.        , 0.01584446,
        0.00646991],
       [0.        , 0.        , 0.        , ..., 0.01584446, 1.        ,
        0.02254235],
       [0.        , 0.        , 0.        , ..., 0.00646991, 0.02254235,
        1.        ]])

In [ ]:
np.savetxt('cosine_similarity.csv', cos_sim, delimiter=',')

In [ ]:
cos_sim.shape

(4803, 4803)

In [ ]:
indices = pd.Series(df.index)

In [ ]:
def recommendations(name, cos_sim = cos_sim, indices=indices, num=10):
    
    recommended_movie = []
    
    idx = indices[indices == name].index[0]

    score_series = pd.Series(cos_sim[idx]).sort_values(ascending = False)

    top_movies = list(score_series[1:num+1].index)
    
    for i in top_movies:
        recommended_movie.append(list(df.index)[i])
        
    return recommended_movie

In [ ]:
recommendations('Minions', num=15)

['Despicable Me 2',
 'The Guilt Trip',
 'Stuart Little 2',
 'Shooting Fish',
 'Darling Companion',
 'The League of Extraordinary Gentlemen',
 'Wild Wild West',
 'The Gift',
 'Velvet Goldmine',
 'Home Alone',
 'Despicable Me',
 'The Jimmy Show',
 'Without Men',
 'Batman',
 "Charlotte's Web"]